.sponsor-item {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3.5rem 6rem;

  background-color: $primary2;
  border: 0.05rem solid $primary3;

  &__img {
    width: 80%;
    object-fit: contain;
  }
}
