$input-search-background: #EFEFEF;
$input-search-height: 4rem;

.header {
  background: $primary2;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 0;
  }

  &__logo-block {
    display: flex;
    align-items: center;
  }

  &__logo-img {}

  &__logo-title {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 4.2rem;
    letter-spacing: 0.1em;

    color: $primary1;
    margin-left: 2rem;
  }

  &__search-block {
    display: flex;
    align-items: center;

    background: $input-search-background;
    border-radius: 4rem;
    padding: 0 2rem;
    height: $input-search-height;
  }

  &__search-icon {
    margin: 0.5rem;
  }

  &__search-input {
    background: none;
    outline: none;
    border: none;
  }
}