$super-product-background-height: 75rem;

.super-product {
  background-image: url(../assets/super-product/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $primary1;
  color: $main-text-color;
  height: $super-product-background-height;

  @include small-laptop {
    $super-product-background-height: 60rem;
    height: $super-product-background-height;
  }

  @include tablet {
    $super-product-background-height: 50rem;
    height: $super-product-background-height;
  }

  @include mobile-big {
    $super-product-background-height: 40rem;
    height: $super-product-background-height;
    background-image: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile-big {
      align-items: center;
    }
  }

  &__main-info {
    display: flex;
    flex-direction: column;

    max-width: 35%;

    @include mobile-big {
      align-items: center;
      max-width: 100%;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 5.6rem;
  }

  &__subtitle {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__button {
    background: transparent;
    border-color: $primary2;
    color: $main-text-color;

    max-width: 17rem;
  }

  &__title,
  &__subtitle {
    margin-bottom: 5.5rem;

    @include mobile-big {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}
